.bg {
  background-color: #111318 !important;
}

.nav-link{
  color: rgb(255, 255, 255)!important;
}

.nav-link:hover{
  color: rgb(163, 161, 161)!important;
}

.fs-20{
  font-size: 18px;
}


.navbar-nav .nav-link.active {
  color: rgb(92, 92, 92) !important;
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}
