.bg {
  background-color: #111318 !important;
}

.fs-30 {
  font-size: 60px;
}

@media only screen and (max-width: 992px) {
  .vitualCard {
    width: 350px;
    height: auto;
  }

  .head-text {
    font-size: 40px !important;
  }

  .col-reverse {
    flex-direction: column-reverse;
  }

  .fs-30 {
    font-size: 45px;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
